body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 15px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}



.logo-container .logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

header h1 {
  color: white;
  margin: 0;
}

header nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  color: #00ffcc;
}

header {
  background: black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #00ffcc;
}

.hero {
  text-align: center;
  padding: 150px 20px;
  background: url('img/banner.png') center/cover no-repeat;
  color: white;
}

.hero button {
  padding: 12px 20px;
  background: #00ffcc;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.produtos {
  padding: 50px 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #333;
}

.contato {
  padding: 50px 20px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: auto;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background: #00ffcc;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
}

.cupom {
  background: #000000; 
  color: #00ffcc;
  text-align: center;
  padding: 50px 20px;
}

.cupom h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.cupom p {
  margin-bottom: 20px;
}

.cupom input {
  padding: 12px;
  font-size: 16px;
  width: 200px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.cupom button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background: #00ffcc;
  color: #000000;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.cupom button:hover {
  background: #333;
  color: #00ffcc;
}

#mensagemCupom {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
  background-color: #00ffcc;
  
}